html, body {
  background-color: #eee;
  color: #636b6f;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  font-weight: 200;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

html .user_main, body .user_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  margin: auto;
}

html .user_main .user_information, body .user_main .user_information {
  width: 250px;
}

html .user_main .user_information .composer_box, body .user_main .user_information .composer_box {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

html .user_main .user_information .composer_visible, body .user_main .user_information .composer_visible {
  visibility: visible;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
}

html .user_main .user_information .composer_hidden, body .user_main .user_information .composer_hidden {
  visibility: hidden;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-name: slide-out;
          animation-name: slide-out;
}

html #app .navbar .container .navbar-brand, body #app .navbar .container .navbar-brand {
  font-size: 3.2rem;
}

body .user_main .user_information .composer_box .sub_link_box:nth-child(4) .nav {
  display: block;
  pointer-events: none;
}

body .user_main .user_information .composer_box .sub_link_box:nth-child(4) .nav .sub_link {
  background-color: #fff;
}

body .user_main .user_contents {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 900px;
  margin-left: 100px;
  margin-bottom: 100px;
}

body .user_main .user_contents .training_menu {
  background-color: #636b6f;
  font-size: 3rem;
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
}

body .user_main .user_contents .training_menu .training_menu_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 5px solid #fff;
  height: 70px;
  margin-left: 30px;
  padding-left: 20px;
}

body .user_main .user_contents .training_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .user_main .user_contents .training_contents .training_content {
  background-color: #fff;
  -webkit-box-shadow: 15px 15px 0 0 #E6E3C5;
          box-shadow: 15px 15px 0 0 #E6E3C5;
  width: 400px;
  margin-bottom: 70px;
}

body .user_main .user_contents .training_contents .training_content .training_content_header {
  background-color: #636b6f;
  border-bottom: 3px solid #f3bf13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  width: 100%;
  height: 50px;
}

body .user_main .user_contents .training_contents .training_content form {
  color: #636b6f;
  width: 90%;
  margin: auto;
}

body .user_main .user_contents .training_contents .training_content form > p {
  font-size: 1.7rem;
  margin: 8px 0;
  margin-top: 20px;
}

body .user_main .user_contents .training_contents .training_content form > input {
  font-size: 1.3rem;
  width: 320px;
  height: 30px;
  margin-left: 15px;
}

body .user_main .user_contents .training_contents .training_content form > label {
  font-size: 1.3rem;
  margin: 0;
  padding-left: 3px;
}

body .user_main .user_contents .training_contents .training_content form #pages {
  width: 100px;
}

body .user_main .user_contents .training_contents .training_content form #year, body .user_main .user_contents .training_contents .training_content form #month, body .user_main .user_contents .training_contents .training_content form #day {
  text-align: right;
  width: 50px;
}

body .user_main .user_contents .training_contents .training_content form #month, body .user_main .user_contents .training_contents .training_content form #day {
  margin-left: 5px;
}

body .user_main .user_contents .training_contents .training_content form #training_rule {
  height: 60px;
}

body .user_main .user_contents .training_contents .training_content form > span {
  display: inline-block;
  color: red;
  font-size: 1rem;
  width: 100%;
  padding: 5px 0 0 15px;
}

body .user_main .user_contents .training_contents .training_content form .content_submit {
  width: 90%;
  margin: 30px auto;
}

body .user_main .user_contents .training_contents .training_content form .content_submit .content_submit_button {
  background-color: #636b6f;
  border-style: none;
  border-bottom: 10px solid #333;
  border-radius: 15px;
  outline: none;
  -webkit-box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 65px;
}

body .user_main .user_contents .training_contents .training_content form .content_submit .content_submit_button:hover {
  cursor: pointer;
  opacity: 0.9;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body .user_main .user_contents .training_contents .training_content form .content_submit .content_submit_button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  border-bottom: 2px solid #ccc;
}
/*# sourceMappingURL=input.css.map */