@import "../master/master.scss";

html, body {
    // コンテンツ
    .user_main{
        display: flex;
        width: 1300px;
        padding: 200px 0 0 50px;
        .user_information{
            background-color: #ccc;
            box-sizing: border-box;
            width: 350px;
            height: 100px;
            margin-left: 0px;
        }
        .user_contents{
            background-color: #ccc;
            box-sizing: border-box;
            width: 900px;
            height: 100px;
            margin-left: 50px;
        }
    }
}