@import "../../mixin/mixin.scss";
@import "../../color/color.scss";

html, body {
  
  // ヘッダー
  .header{
    background-color: $main-color;
    color: $white-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
  }
  
  .links > a {
      color: $white-color;
      padding: 0 13px;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;
      text-transform: uppercase;
  }

  .top-right {
    @include nav(15px);
    > a{
        @include hover();
    }
  }
}