@import "../../master/master.scss";

// コンテンツBOX
body .user_main .user_contents{
  box-sizing: border-box;
  width: 900px;
  margin-left: 100px;
  margin-bottom: 100px;
  .main_content_title{
    background-color: $bg-white-color;
    width: 100%;
    .main_content_title_header{
      display: flex;
      box-sizing: border-box;
      background-color: $bg-main-color;
      width: 100%;
      height: 50px;
      .main_content_title_header_line_w{
        margin-left: 30px;
        border-left: 2px solid $bd-white-color;
      }
      .main_content_title_header_line_y{
        margin-left: 6px;
        border-left: 3px solid $point-color;
      }
      .main_content_title_header_day{
        border-left: 2px solid $bd-white-color;
        color: $white-color;
        line-height: 50px;
        font-size: 1.7rem;
        margin-left: 6px;
        padding-left: 15px;
      }
    }
    .detail_content_title_parts_box{
      width: 100%;
      .detail_content_title_parts{
        background-color: $bg-white-color;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0;
        .detail_content_title_parts_image{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
          > img{
            border: solid $bd-black-color 5px;
            width: 80%;
          }
        }
        .detail_content_title_parts_text{
          box-sizing: border-box;
          width: 80%;
          padding: 0 30px;
          .detail_content_title_parts_text_title{
            font-size: 2rem;
          }
          .detail_content_title_parts_text_recode{
            box-sizing: border-box;
            font-size: 1.5rem;
            padding-left: 15px;
          }
        }
      }
    }
    .reply_content_form{
      display: flex;
      align-items: center;
      box-sizing: border-box;
      background-color: $bg-main-color;
      width: 100%;
      height: 50px;
      padding-left: 50px;
      .reply_form_text{
        box-sizing: border-box;
        width: 300px;
        height: 30px;
        margin-right: 20px;
      }
    }
    .reply_design_box{
      box-sizing: border-box;
      background-color: #eee;
      width: 100%;
      height: 35px;
      padding: 10px 0;
      .reply_design{
        box-sizing: border-box;
        border-right: 1px dashed #000;
        width: 50%;
        height: 100%;
      }
    }
    .reply_content_text{
      display: flex;
      box-sizing: border-box;
      width: 100%;
      .reply_content_text_image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18%;
        > img{
          border: solid $bd-black-color 5px;
          width: 80%;
        }
      }
      .reply_content_text_main{
        box-sizing: border-box;
        background-color: #fff;
        width: 77%;
        padding: 0 30px;
        .reply_content_text_main_user{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #000;
          width: 100%;
          height: 30px;
          margin-top: 5px;
          .reply_content_text_main_user_name{
            box-sizing: border-box;
            font-size: 1.7rem;
            font-weight: bold;
            padding-left: 10px;
          }
          .reply_content_text_main_user_day{
            box-sizing: border-box;
            font-size: 1.4rem;
            font-weight: 400;
            padding-right: 20px;
          }
        }
        .reply_content_text_main_message{
          box-sizing: border-box;
          font-size: 1.5rem;
          width: 100%;
          padding: 15px 0 0 20px;
        }
      }
      .reply_content_text_main_delete_box{
        box-sizing: border-box;
        border-left: 5px solid $point-color;
        width: 5%;
        > a{
          .reply_content_text_main_delete{
            background-color: $point-color;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .reply_content_pagenation{
      background-color: $bg-main-color;
      border-top: 15px solid #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 65px;
    }
  }
}