@import "../../master/master.scss";

html, body {
  // コンテンツ
  .user_main{
    display: flex;
    width: 1300px;
    padding: 150px 0 0 100px;
    // ユーザー情報
    .user_information{
      width: 250px;
      .drop_down_list_box{
        background-color: #888;
        width: 100%;
        height: 40px;
        .hamburger {
          z-index: 11;
          background: transparent;
          border: none;
          position: relative;
          display: block;
          outline: 0;
          width: 20px;
          height: 40px;
          margin: 0 10px 0 auto;
          .bdr {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background: #fff;
            transition: all .5s;
            &:nth-child(1) {
              top: 20px;
              transform: translateX(-6px) rotate(45deg);
            }
            &:nth-child(2) {
              top: 20px;
              transform: translateX(5px) rotate(-45deg);
            }
          }
          &.is-active {
            .bdr {
              background: #fff;
              &:nth-child(1) {
                transform: translateX(-6px) rotate(-45deg);
              }
              &:nth-child(2) {
                transform: translateX(5px) rotate(45deg);
              }
            }
          }
        }
      }
      .composer_box{
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
      }
      .visible{
        visibility:visible;
        animation-duration: .1s;
        animation-name: fade-in;
      }
      @keyframes fade-in {
        0% {
          visibility: hidden;
          opacity: 0;
          transform: translateY(-10px);
        }
      
        50% {
          visibility: visible;
          transform: translateY(-5px);
          opacity: .3;
        }

        70%{
          visibility: visible;
          opacity: .7;
        }
      
        100% {
          visibility: visible;
          opacity: 1;
        }
      }
      .hidden{
        visibility:hidden;
        animation-duration: .1s;
        animation-name: fade-out;
      }
      @keyframes fade-out {
        0% {
          visibility: visible;
          opacity: 1;
        }
      
        50% {
          visibility: visible;
          opacity: .6;
        }
        70%{
          visibility: visible;
          opacity: .3;
          transform: translateY(-4px);
        }
      
        100% {
          visibility: hidden;
          opacity: 0;
          transform: translateY(-10px);
        }
      }
    }
    .user_contents{
      background-color: #ccc;
      box-sizing: border-box;
      width: 900px;
      margin-left: 50px;
      margin-bottom: 100px;

      .main_content_title{
        width: 100%;
        margin-bottom: 50px;

        .main_content_title_header{
          background-color: #333;
          width: 100%;
          height: 50px;

          .main_content_title_header_day{
            box-sizing: border-box;
            border-left: 2px solid #fff;
            line-height: 50px;
            font-size: 1.7rem;
            margin-left: 30px;
            padding-left: 15px;
          }
        }
        .detail_content_title_parts_box{
          width: 100%;

          > a{
            text-decoration: none;
            color: #000;

            .detail_content_title_parts{
              background-color: #666;
              display: flex;
              box-sizing: border-box;
              width: 100%;
              padding: 20px 0;
              .detail_content_title_parts_image{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #888;
                width: 20%;
                > img{
                  width: 80%;
              }
              }
              .detail_content_title_parts_text{
                box-sizing: border-box;
                background-color: #999;
                width: 80%;
                padding: 0 30px;
                .detail_content_title_parts_text_title{
                  font-size: 2rem;
                }
                .detail_content_title_parts_text_recode{
                  box-sizing: border-box;
                  font-size: 1.5rem;
                  padding-left: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}