// 文字カラー
$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;
$main-color: #636b6f;
$sub-main-color:#eee;
$point-color:#f3bf13;
$point-second-color:#E6E3C5;
// 背景カラー
$bg-main-color: #636b6f;
$bg-white-color: #fff;
$bg-black-color: #000;
$bg-point-color:#f3bf13;
// ボーダーカラー
$bd-black-color:#000;
$bd-white-color:#fff;