@import "../mixin/mixin.scss";
@import "../color/color.scss";

html, body {
  background-color: $white-color;
  color: $main-color;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size:62.5%;
  font-weight: 200;
  width: 100vw;
  height: 100vh;
  margin: 0;
  .user_main{
    display: flex;
    width: 1300px;
    margin: auto;
    // ユーザー情報
    .user_information{
      width: 250px;
      .composer_box{
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
      }
      .composer_visible{
        visibility:visible;
        animation-duration: .1s;
        animation-name: slide-in;
      }
      .composer_hidden{
        visibility:hidden;
        animation-duration: .1s;
        animation-name: slide-out;
      }
    }
  }
  // ヘッダータイトル/フォントサイズ
  #app .navbar .container .navbar-brand{
    font-size: 3.2rem;
  }
}