html, body {
  background-color: #fff;
  color: #636b6f;
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  font-weight: 200;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

html .user_main, body .user_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  margin: auto;
}

html .user_main .user_information, body .user_main .user_information {
  width: 250px;
}

html .user_main .user_information .composer_box, body .user_main .user_information .composer_box {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

html .user_main .user_information .composer_visible, body .user_main .user_information .composer_visible {
  visibility: visible;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
}

html .user_main .user_information .composer_hidden, body .user_main .user_information .composer_hidden {
  visibility: hidden;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-name: slide-out;
          animation-name: slide-out;
}

html #app .navbar .container .navbar-brand, body #app .navbar .container .navbar-brand {
  font-size: 3.2rem;
}

body .user_main .user_information .composer_box .sub_link_box:nth-child(6) .nav {
  display: block;
  pointer-events: none;
}

body .user_main .user_information .composer_box .sub_link_box:nth-child(6) .nav .sub_link {
  background-color: #fff;
}

body .user_main .user_contents {
  background-color: #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 900px;
  margin-left: 100px;
  margin-bottom: 100px;
}

body .user_main .user_contents .archive_content_title_header {
  background-color: #666;
  width: 100%;
  height: 60px;
}

body .user_main .user_contents .archive_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #999;
  width: 100%;
  height: 450px;
}

body .user_main .user_contents .archive_content .archive_message {
  position: relative;
  background-color: #999;
  width: 50%;
  height: 450px;
}

body .user_main .user_contents .archive_content .archive_message > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3.5rem;
  line-height: 0.8;
  width: 100%;
}

body .user_main .user_contents .archive_content .archive_content_title_parts {
  width: 40%;
  margin: auto;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form {
  width: 100%;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form > p {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 15px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form .input_text {
  width: 50px;
  height: 30px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form #month, body .user_main .user_contents .archive_content .archive_content_title_parts > form #day {
  margin-left: 5px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form > span {
  display: inline-block;
  color: red;
  font-size: 1rem;
  width: 100%;
  padding: 5px 0 0 15px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form .input_day {
  width: 20px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form > label {
  vertical-align: bottom;
  font-size: 1.5rem;
  line-height: 30px;
  height: 30px;
  margin: 0;
  padding-left: 3px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form #progress {
  width: 200px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form > input {
  width: 320px;
  height: 30px;
  margin-left: 15px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form .content_submit {
  width: 350px;
  margin: 50px auto;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form .content_submit .content_submit_button {
  border-style: none;
  border-bottom: 10px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.22);
  width: 100%;
  height: 65px;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form .content_submit .content_submit_button:hover {
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body .user_main .user_contents .archive_content .archive_content_title_parts > form .content_submit .content_submit_button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  border-bottom: 5px solid #ccc;
}
/*# sourceMappingURL=archive.css.map */