@import "../../master/master.scss";

// ナビゲーション無効
body .user_main .user_information .composer_box .sub_link_box{
  &:nth-child(1) .nav{
    display: block;
    pointer-events: none;
    .sub_link{
      background-color: $bg-white-color;
    }
  }
}
// コンテンツBOX
body .user_main .user_contents{
  box-sizing: border-box;
  width: 900px;
  margin-left: 100px;
  margin-bottom: 100px;
  // コンテンツ本体
  .main_content_title{
    width: 100%;
    margin-bottom: 50px;
    // コンテンツヘッダー
    .main_content_title_header{
      display: flex;
      box-sizing: border-box;
      background-color: $bg-main-color;
      width: 100%;
      height: 50px;
      .main_content_title_header_line{
        margin-left: 30px;
        border-left: 2px solid $point-color;
      }
      .main_content_title_header_day{
        border-left: 3px solid #fff;
        color: $white-color;
        line-height: 50px;
        font-size: 1.7rem;
        padding-left: 15px;
      }
    }
    // コンテンツ情報
    .detail_content_title_parts_box{
      width: 100%;
      > a{
        text-decoration: none;
        color: #000;
        .detail_content_title_parts{
          background-color: $bg-white-color;
          display: flex;
          box-sizing: border-box;
          width: 100%;
          padding: 20px 0;
          // ユーザー画像
          .detail_content_title_parts_image{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            > img{
              border: solid $bd-black-color 5px;
              width: 80%;
          }
          }
          // 本文
          .detail_content_title_parts_text{
            box-sizing: border-box;
            width: 80%;
            padding: 0 30px;
            .detail_content_title_parts_text_title{
              font-size: 2rem;
            }
            .detail_content_title_parts_text_recode{
              box-sizing: border-box;
              font-size: 1.5rem;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  .detail_pagenation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-main-color;
    border-top: 2px solid $point-color;
    width: 100%;
    height: 60px;
    > nav{
      display: flex;
      justify-content: center;
      align-items: center;
      .pagination{
        margin: 0 !important;
      }
    }
  }
}

