@import "../../../mixin/mixin.scss";
@import "../../../color/color.scss";

html, body {
  .user_information{
    .user_information_box{
      background-color: $bg-white-color;
      width: 100%;
      > a{
        text-decoration: none;
        color: $black-color;
        .user_information_link{
          box-sizing: border-box;
          box-shadow: 15px 55px 0 0 $point-second-color;
          width: 100%;
          padding: 20px 0;
          .user_image{
            width: 200px;
            height: 200px;
            margin: auto ;
            > img{
              border: solid $bd-black-color 5px;
              border-radius: 5px;
              width: 200px;
              height: 200px;
            }
          }
          .user_name{
            font-size: 1.7rem;
            width: 200px;
            margin: auto;
            padding-top: 10px;
            > div{
              padding-bottom: 5px;
              &:nth-child(odd){
                font-weight: 600;
                padding-left: 10px;
              }
              &:nth-child(even){
                width: 100px;
                text-align: center;
                margin-left: 30px;
              }
            }
          }
        }
      }
    }
  }
}